<a href="https://colab.research.google.com/github/GithubSolver123/EDA---DA-1---22BCE0256/blob/main/EDA_DA_1_22BCE0256.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Import all the required libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

### **Load the given Dataset**

In [2]:
url = "https://raw.githubusercontent.com/salemprakash/EDA/main/Data/school93_98.csv"

df = pd.read_csv(url)

### **Dimensions of the dataset**

In [3]:
dimensions = df.shape

print("Dataset Dimensions:", dimensions)

Dataset Dimensions: (10668, 19)

### **Summary of the dataset**

In [4]:
# Column names of the dataset

print(df.columns)

Index(['rownames', 'distid', 'schid', 'lunch', 'enrol', 'exppp', 'math4',
       'year', 'y93', 'y94', 'y95', 'y96', 'y97', 'y98', 'rexpp', 'found',
       'lenrol', 'lrexpp', 'lavgrexpp'],
      dtype='object')

In [5]:
# General overview of the dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rownames   10668 non-null  int64
 1   distid     10668 non-null  int64
 2   schid      10668 non-null  int64
 3   lunch      10365 non-null  float64
 4   enrol      10499 non-null  float64
 5   exppp      9731 non-null   float64
 6   math4      10565 non-null  float64
 7   year       10668 non-null  int64
 8   y93        10668 non-null  int64
 9   y94        10668 non-null  int64
 10  y95        10668 non-null  int64
 11  y96        10668 non-null  int64
 12  y97        10668 non-null  int64
 13  y98        10668 non-null  int64
 14  rexpp      9731 non-null   float64
 15  found      7112 non-null   float64
 16  lenrol     10499 non-null  float64
 17  lrexpp     9731 non-null   float64
 18  lavgrexpp  7517 non-null   float64
dtypes: float64(9), int64(10)
memory usage: 1.5 MB

In [6]:
# Descriptive statistics of the dataset

print(df.describe(include = "all"))

          rownames        distid         schid         lunch         enrol  \
count  10668.00000  10668.000000  10668.000000  10365.000000  10499.000000
mean    5334.50000  52873.061305   2963.074803     37.384330    417.613963
std     3079.73067  23938.765714   2009.157208     25.347934    166.694982
min        1.00000   1010.000000      1.000000      0.000000      7.000000
25%     2667.75000  33070.000000   1306.000000     16.360001    307.000000
50%     5334.50000  56010.000000   2562.500000     33.330002    405.000000
75%     8001.25000  75100.000000   4421.000000     54.169998    507.000000
max    10668.00000  83070.000000   7725.000000    100.000000   1353.000000

              exppp         math4          year           y93           y94  \
count   9731.000000  10565.000000  10668.000000  10668.000000  10668.000000
mean    3778.583702     58.445348   1995.500000      0.166667      0.166667
std      923.798238     21.651211      1.707905      0.372695      0.372695
min      254.000000      1.800000   1993.000000      0.000000      0.000000
25%     3155.500000     43.200001   1994.000000      0.000000      0.000000
50%     3737.000000     59.799999   1995.500000      0.000000      0.000000
75%     4278.500000     75.000000   1997.000000      0.000000      0.000000
max    13581.000000    100.000000   1998.000000      1.000000      1.000000

                y95           y96           y97           y98         rexpp  \
count  10668.000000  10668.000000  10668.000000  10668.000000   9731.000000
mean       0.166667      0.166667      0.166667      0.166667   3899.637674
std        0.372695      0.372695      0.372695      0.372695    879.111231
min        0.000000      0.000000      0.000000      0.000000    282.124542
25%        0.000000      0.000000      0.000000      0.000000   3325.719849
50%        0.000000      0.000000      0.000000      0.000000   3823.120850
75%        0.000000      0.000000      0.000000      0.000000   4352.629395
max        1.000000      1.000000      1.000000      1.000000  14708.167969

              found        lenrol       lrexpp    lavgrexpp
count   7112.000000  10499.000000  9731.000000  7517.000000
mean    5829.744094      5.940707     8.244704     8.263581
std     1054.895417      0.480836     0.218641     0.191407
min     4200.000000      1.945910     5.642349     7.404839
25%     5203.000000      5.726848     8.109442     8.142113
50%     5587.000000      6.003887     8.248822     8.259392
75%     6060.000000      6.228511     8.378535     8.378363
max    10916.000000      7.210080     9.596158     9.397722

In [7]:
# First and Last few rows

print("\n\n\n--> First 5 rows: \n")
print(df.head())

print("\n\n\n--> Last 5 rows: \n")
print(df.tail())

--> First 5 rows:

   rownames  distid  schid      lunch  enrol   exppp      math4  year  y93  \
0         1   34010      1  39.799999  256.0  2506.0  46.599998  1993    1
1         2   34010      1  35.000000  248.0  2870.0  44.700001  1994    0
2         3   34010      1  36.590000  244.0  4176.0  86.500000  1995    0
3         4   34010      1  40.549999  247.0  4333.0  84.300003  1996    0
4         5   34010      1  49.490002  291.0  3666.0  83.800003  1997    0

   y94  y95  y96  y97  y98        rexpp   found    lenrol    lrexpp  lavgrexpp
0    0    0    0    0    0  2783.480957     NaN  5.545177  7.931458        NaN
1    1    0    0    0    0  3108.198486     NaN  5.513429  8.041799   7.988149
2    0    1    0    0    0  4397.953125  4478.0  5.497168  8.388894   8.230331
3    0    0    1    0    0  4432.418945  4754.0  5.509388  8.396701   8.392805
4    0    0    0    1    0  3666.000000  5032.0  5.673323  8.206857   8.306277



--> Last 5 rows:

       rownames  distid  schid  lunch  enrol  exppp      math4  year  y93  \
10663     10664   63200   7725    NaN  137.0    NaN  72.000000  1994    0
10664     10665   63200   7725    NaN  135.0    NaN  62.500000  1995    0
10665     10666   63200   7725    NaN  124.0    NaN  63.200001  1996    0
10666     10667   63200   7725    NaN  129.0    NaN  78.900002  1997    0
10667     10668   63200   7725    0.0  132.0    NaN  87.000000  1998    0

       y94  y95  y96  y97  y98  rexpp   found    lenrol  lrexpp  lavgrexpp
10663    1    0    0    0    0    NaN     NaN  4.919981     NaN        NaN
10664    0    1    0    0    0    NaN  8567.0  4.905275     NaN        NaN
10665    0    0    1    0    0    NaN  8720.0  4.820282     NaN        NaN
10666    0    0    0    1    0    NaN  8875.0  4.859812     NaN        NaN
10667    0    0    0    0    1    NaN  9029.0  4.882802     NaN        NaN

### **Set the first column as index**

In [8]:
df.set_index('rownames', inplace = True)

### **Handling Missing Data**

In [9]:
# Count of missing values per column
print("--> Count of missing values per column: \n")
print(df.isnull().sum())

--> Count of missing values per column:

distid          0
schid           0
lunch         303
enrol         169
exppp         937
math4         103
year            0
y93             0
y94             0
y95             0
y96             0
y97             0
y98             0
rexpp         937
found        3556
lenrol        169
lrexpp        937
lavgrexpp    3151
dtype: int64

In [10]:
# Drop rows with missing values in column 'distid'

df["distid"].dropna(axis = 0)

rownames
1        34010
2        34010
3        34010
4        34010
5        34010
         ...
10664    63200
10665    63200
10666    63200
10667    63200
10668    63200
Name: distid, Length: 10668, dtype: int64

In [11]:
# Drop rows with missing values in column 'schid'

df["schid"].dropna(axis = 0)

rownames
1           1
2           1
3           1
4           1
5           1
         ...
10664    7725
10665    7725
10666    7725
10667    7725
10668    7725
Name: schid, Length: 10668, dtype: int64

In [12]:
# Apply groupby based on 'distid' and transform to fill missing values with the group's mean

for col in df.columns:
    if col != 'distid':
        df[col] = df.groupby('distid')[col].transform(lambda x: x.fillna(x.mean()))

In [14]:
print(df.describe())

             distid         schid         lunch         enrol         exppp  \
count  10668.000000  10668.000000  10668.000000  10668.000000  10668.000000
mean   52873.061305   2963.074803     37.000730    417.555214   3788.639015
std    23938.765714   2009.157208     25.558720    165.990147    898.150275
min     1010.000000      1.000000      0.000000      7.000000    254.000000
25%    33070.000000   1306.000000     15.825000    307.750000   3208.750000
50%    56010.000000   2562.500000     32.939999    405.000000   3759.000000
75%    75100.000000   4421.000000     54.099998    506.000000   4254.000000
max    83070.000000   7725.000000    100.000000   1353.000000  13581.000000

              math4          year           y93           y94           y95  \
count  10668.000000  10668.000000  10668.000000  10668.000000  10668.000000
mean      58.374497   1995.500000      0.166667      0.166667      0.166667
std       21.621465      1.707905      0.372695      0.372695      0.372695
min        1.800000   1993.000000      0.000000      0.000000      0.000000
25%       43.099998   1994.000000      0.000000      0.000000      0.000000
50%       59.549999   1995.500000      0.000000      0.000000      0.000000
75%       75.000000   1997.000000      0.000000      0.000000      0.000000
max      100.000000   1998.000000      1.000000      1.000000      1.000000

                y96           y97           y98         rexpp         found  \
count  10668.000000  10668.000000  10668.000000  10668.000000  10668.000000
mean       0.166667      0.166667      0.166667   3907.464633   5829.744094
std        0.372695      0.372695      0.372695    856.297183   1047.389332
min        0.000000      0.000000      0.000000    282.124542   4200.000000
25%        0.000000      0.000000      0.000000   3357.304199   5170.000000
50%        0.000000      0.000000      0.000000   3849.340576   5600.500000
75%        0.000000      0.000000      0.000000   4331.703369   6046.250000
max        1.000000      1.000000      1.000000  14708.167969  10916.000000

             lenrol        lrexpp     lavgrexpp
count  10668.000000  10668.000000  10668.000000
mean       5.940682      8.246660      8.268964
std        0.479255      0.212609      0.176600
min        1.945910      5.642349      7.404839
25%        5.726848      8.118263      8.161567
50%        6.003887      8.254815      8.273255
75%        6.226537      8.372518      8.367761
max        7.210080      9.596158      9.397722

In [ ]:
# Histogram for a single column
df['lunch'].plot(kind='hist', bins=10, edgecolor='black')
plt.title('Lunch')
plt.show()

# Boxplot
df['lunch'].plot(kind='box')
plt.title('Boxplot of Lunch')
plt.show()

In [ ]:
# Histogram for a single column
df['enrol'].plot(kind='hist', bins=10, edgecolor='black')
plt.title('Lunch')
plt.show()

# Boxplot
df['enrol'].plot(kind='box')
plt.title('Boxplot of Lunch')
plt.show()

In [ ]:
# Histogram for a single column
df['exppp'].plot(kind='hist', bins=10, edgecolor='black')
plt.title('Lunch')
plt.show()

# Boxplot
df['exppp'].plot(kind='box')
plt.title('Boxplot of Lunch')
plt.show()

In [ ]:
# Histogram for a single column
df['math4'].plot(kind='hist', bins=10, edgecolor='black')
plt.title('Lunch')
plt.show()

# Boxplot
df['math4'].plot(kind='box')
plt.title('Boxplot of Lunch')
plt.show()

In [ ]:
# Histogram for a single column
df['year'].plot(kind='hist', bins=10, edgecolor='black')
plt.title('Lunch')
plt.show()

# Boxplot
df['year'].plot(kind='box')
plt.title('Boxplot of Lunch')
plt.show()

In [ ]:
# Histogram for a single column
df['lunch'].plot(kind='hist', bins=10, edgecolor='black')
plt.title('Lunch')
plt.show()

# Boxplot
df['lunch'].plot(kind='box')
plt.title('Boxplot of Lunch')
plt.show()

In [ ]:
# Histogram for a single column
df['lunch'].plot(kind='hist', bins=10, edgecolor='black')
plt.title('Lunch')
plt.show()

# Boxplot
df['lunch'].plot(kind='box')
plt.title('Boxplot of Lunch')
plt.show()

In [ ]:
# Histogram for a single column
df['lunch'].plot(kind='hist', bins=10, edgecolor='black')
plt.title('Lunch')
plt.show()

# Boxplot
df['lunch'].plot(kind='box')
plt.title('Boxplot of Lunch')
plt.show()